.common-styles__button {
    background: white;
    color: #18243a;
    display: inline-block;
    border-color: cornflowerblue;
    border-style: solid;
    box-sizing: border-box;
    font-size: 1.0em;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.common-styles__button > * {
    position: relative;
}

.common-styles__button span {
    display: block;
    padding: 12px 24px;
}

.common-styles__button:hover, .common-styles__button:focus {
    cursor: pointer;
    /*cursor: url("https://gamepedia.cursecdn.com/wowpedia/a/a4/Pointer_gauntlet_cast_on_32x32.png"), pointer;*/
    background-color: #ede7d2;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.common-styles__button:disabled {
    opacity: 0.5;
    background: mintcream;
    cursor: default;
}
